body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: #fffafa;
    text-align: center;
}

header {
    background: #ffffff;
    padding: 15px;
    text-align: center;
}

.titulo-bemvindo {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.btn-entrar {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-entrar:hover {
    background-color: rgb(60, 60, 60);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    width: 400px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

p:hover {
    cursor: pointer;
    color: rgb(128, 128, 128);
}